%ons-toolbar
  .center
    Transactions
    %span.ln-tx-label.block.micro.bold.rel.top30.upcase.ons-coolfont (LN Payments)
  .right
    %ons-toolbar-button
      %a.btn-settings.button-settings.settings-button
        %ons-icon.icon-main-right.icon-settings{ icon: "ion-md-settings" }

.centered
  %script
    :plain
  %script.payment_template#payment_template{ type: "application/haml" }
    :plain
      -# object = {
      -#  arrow: "up|down",
      -#  amount: 10,
      -#  invoice: "1234",
      -# }
      %ons-list-header
      %ons-list-item
        .left
          %ons-icon.list-item__icon{ icon: "ion-md-arrow-\#{arrow}" }
        .center
          Receiving \#{amount} #{Conf.currency} - invoice: '\#{invoice}'
          -#  %span.tx tx: 0xa1f2b1...

  %ons-list.payments.tx-list.payments-list
    -# %ons-list-header Today
    .loading
      %ons-list-header Loading
      %ons-list-item
        %span.mini loading payments list...

    -# ... mock view...
    -#
    -# %ons-list-header
    -# %ons-list-item
    -#   .left
    -#     %ons-icon.list-item__icon{ icon: "ion-md-arrow-down" }
    -#   .center
    -#     Receiving 10 #{Conf.currency} (0 conf.) from '0xadd4344....b31'
    -#     %span.tx tx: 0xa1f2b1...
    -# %ons-list-header
    -# %ons-list-item
    -#   .left
    -#     %ons-icon.list-item__icon{ icon: "ion-md-arrow-down" }
    -#   .center
    -#     Receiving 10 #{Conf.currency} (0 conf.) from '0xadd4344....b31'
    -#     %span.tx tx: 0xa1f2b1...

    -# mock: headers

    -# %ons-list-header Yesterday
    -# %ons-list-header 21/07/19
    -# %ons-list-header 26/06/19
